*{
    padding: 0;
    margin: 0;
}   

body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100%;

}

.box {
    background-color: #e2e2e2;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
   
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header{
   padding: 10px 20px;
}

header .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}



.header-logo {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header-menu {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-button {
    padding: 0 20px;
    width: 120px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-inner {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.section1 {
    background-color: #f1f1f1;
    padding: 80px 0;
    justify-content: space-between;
    display: flex;
}

.section1 .header-inner {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section1 .hero-image {
    flex: 1 1 585px;
    height: 520px;
    display: flex;
    align-items: center;
}

.section1 .hero-content {
    flex: 1 1 585px;
    height: 267px;
    display: flex;
    align-items: center;
}

.section2 {
    padding: 80px 0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
}

.section2 .header-inner {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 30px;
    flex-wrap: wrap;

}

.section2 .item-2 {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section3 {
    background-color: #f1f1f1;
    padding: 80px 0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
}

.section3 .header-inner {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 30px;
}

.section3 .item-3 {
height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 {
    padding: 80px 0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
     justify-content: center;
    align-items: center;
    text-align: center;

}

.section4 .header-inner {
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 30px;
}

.section4 .item-4 {
   
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-title {
    display: flex;
    font-family: #e0e0e0;
    height: 80px;
    width:  min(600px,100%);
    justify-content: center;
    align-items: center;
    text-align: center;

}

.footer {
    background-color: #e0e0e0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.hero-content {
    background-color: #e2e2e2;
}